In [13]:
import pandas as pd
import re #regex
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords

In [49]:
data = pd.read_csv('Twitter Sentiment Analysis.csv', encoding='latin', names = ['sentiment','id','date','query','user','tweet'])
data.head()

,sentiment,id,date,query,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [50]:
data = data[['tweet', 'sentiment']].copy()
data

                                                     tweet  sentiment
0        @switchfoot http://twitpic.com/2y1zl - Awww, t...          0
1        is upset that he can't update his Facebook by ...          0
2        @Kenichan I dived many times for the ball. Man...          0
3          my whole body feels itchy and like its on fire           0
4        @nationwideclass no, it's not behaving at all....          0
...                                                    ...        ...
1599995  Just woke up. Having no school is the best fee...          4
1599996  TheWDB.com - Very cool to hear old Walt interv...          4
1599997  Are you ready for your MoJo Makeover? Ask me f...          4
1599998  Happy 38th Birthday to my boo of alll time!!! ...          4
1599999  happy #charitytuesday @theNSPCC @SparksCharity...          4

[1600000 rows x 2 columns]

In [51]:
def preprocess_text(tweets: list):
    urlPattern        = r"((http://)[^ ]*|(https://)[^ ]*|( www\.)[^ ]*)"
    userPattern       = '@[^\s]+'
    alphaPattern      = "[^a-zA-Z0-9]"
    sequencePattern   = r"(.)\1\1+"
    seqReplacePattern = r"\1\1"
    puncPattern = r'[!"#$%&()*+,\-.\/:;<=>?@\[\\\]^_`{|}~]'

    stop_words = stopwords.words('english')

    processed_text = []
    for tweet in tweets:
        tweet = tweet.lower()

        tweet = re.sub(urlPattern, 'url', tweet)
        tweet = re.sub(userPattern, 'user', tweet)
        tweet = re.sub(alphaPattern, ' ', tweet)
        tweet = re.sub(sequencePattern, seqReplacePattern, tweet)
        tweet = re.sub(puncPattern, '', tweet)

        all_words = tweet.split(' ')
        tweet_no_stop_words = ' '.join([word for word in all_words if word not in stop_words])
        processed_text.append(tweet_no_stop_words)
    
    return processed_text

In [52]:
tweets = list(data.tweet)
tweets = preprocess_text(tweets)

data.tweet = tweets

In [55]:
data

                                                     tweet  sentiment
0        user url  aww  bummer  shoulda got david carr ...          0
1        upset update facebook texting  might cry resul...          0
2        user dived many times ball  managed save 50  r...          0
3                        whole body feels itchy like fire           0
4                              user  behaving  mad   see            0
...                                                    ...        ...
1599995                    woke  school best feeling ever           4
1599996     thewdb com  cool hear old walt interviews  url          4
1599997                  ready mojo makeover  ask details           4
1599998  happy 38th birthday boo time  tupac amaru shakur           4
1599999              happy  charitytuesday user user user           4

[1600000 rows x 2 columns]